* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

#splits {
  list-style-type: "\1F44D  "; /* Thumbs up symbol */
  padding-left: 20px;
}

.jumbotron {
  background: rgb(174,213,238);
  background: linear-gradient(90deg, rgba(174,213,238,1) 0%, rgba(230,233,148,1) 100%);
}

.lead.mb-2.pl-2 i {
  font-size: 16px;
}

#avatar {
  height: 45px;
}

/* On screens that are 800px or less, change to column and reduce font size */
@media screen and (max-width: 800px) {
  #title-div {
    flex-direction: column;
  }

  #title-div p {
    font-size: 16px;
  }
  
  #game-div {
    flex-direction: column;
  }

}

/* Spinning globe animation for home page adapted from https://w3bits.com/css-earth/ */
#earth {
  position: relative; 
  min-width: 300px;
  min-height: 300px;

  /* Animation effects */
  transition: transform 200ms linear;
  animation: rotate 4s linear infinite;

  color: #000;
  border-radius: 50%;
  background: url(../images/world-map-icon-3.jpg) 0 0 repeat; /* World map */
  box-shadow: inset 20px 0 80px 6px rgba(69, 130, 236, 0.1);

  /* Position things in a 3d space */
  transform-style: preserve-3d;
}

#earth:after {
  /* Break flow to show this as an overlay */
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  /* Make sure there is no generated content */
  content: '';

  border-radius: 50%;
  box-shadow: -80px 15px 80px 10px rgba(69, 130, 236, 0.5) inset;
}

#earth:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: '';

  opacity: .2;
  border-radius: 50%;
  background: radial-gradient(circle at 100px 100px, #fff, rgb(69, 130, 236));
}

@keyframes rotate {
  0% {background-position: 0 0;}
  100% {background-position: 630px 0;}
}

/* Fireworks animation adapted from https://youtu.be/K4K7HNavK4U */
.firework {
	position: absolute;
}
.explosion {
	position: absolute;
	left: -2px;
	bottom: 0;
	width: 4px;
	height: 80px;
	transform-origin: 50% 100%;
	overflow: hidden;
}
.explosion:nth-child(1) {
	transform: rotate(0deg) translateY(-15px);
}
.explosion:nth-child(2) {
	transform: rotate(30deg) translateY(-15px);
}
.explosion:nth-child(3) {
	transform: rotate(60deg) translateY(-15px);
}
.explosion:nth-child(4) {
	transform: rotate(90deg) translateY(-15px);
}
.explosion:nth-child(5) {
	transform: rotate(120deg) translateY(-15px);
}
.explosion:nth-child(6) {
	transform: rotate(150deg) translateY(-15px);
}
.explosion:nth-child(7) {
	transform: rotate(180deg) translateY(-15px);
}
.explosion:nth-child(8) {
	transform: rotate(210deg) translateY(-15px);
}
.explosion:nth-child(9) {
	transform: rotate(240deg) translateY(-15px);
}
.explosion:nth-child(10) {
	transform: rotate(270deg) translateY(-15px);
}
.explosion:nth-child(11) {
	transform: rotate(300deg) translateY(-15px);
}
.explosion:nth-child(12) {
	transform: rotate(330deg) translateY(-15px);
}

.explosion::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 40px;
	background-color: #f0ad4e;
}
@keyframes explosion {
	0% {
		top: 100%;
	}
	33%, 100% {
		top: -50%;
	}
}

#firework1 {
	left: 50%;
	top: 50%;
	transform: scale(1);
}
#firework1 .explosion::before {
	animation: explosion 2s ease-in-out infinite;
}

#firework2 {
	left: 40%;
	top: 45%;
	transform: scale(.7);
}
#firework2 .explosion::before {
	animation: explosion 2s .6s ease-in-out infinite;
}

#firework3 {
	left: 60%;
	top: 65%;
	transform: scale(.4);
}
#firework3 .explosion::before {
	animation: explosion 2s .4s ease-in-out infinite;
}